<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="card-img-top"
        style="max-height: 300px; object-fit: cover;"
      />
      <div class="card-body">
        <h1 class="card-title mb-3">{{ recipe.name }}</h1>
        <p class="card-text">{{ recipe.description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        <strong>{{ ingredient.name }}</strong> - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
